.grid {
    height: auto
    width 10px; 
    border: px; ;
    color:black
}
.board{ 
height:auto
color:
width:auto
}
.square {
color:black

}
h1{
    text-align: center;
    font-size: larger;
}font-family: